@font-face {
  font-family: 'JetBrains Mono';
  src: url(‘/assets/fonts/webfonts/JetBrainsMono-Bold.woff2′) format(‘woff2’),
  url(/assets/fonts/webfonts/JetBrainsMono-ExtraBold.woff2) format(‘woff’),
  url(/assets/fonts/webfonts/JetBrainsMono-Italic.woff2) format(‘woff’),
  url(/assets/fonts/webfonts/JetBrainsMono-Light.woff2) format(‘woff’),
  url(/assets/fonts/webfonts/JetBrainsMono-Medium.woff2) format(‘woff’),
  url(/assets/fonts/webfonts/JetBrainsMono-Regular.woff2) format(‘woff’),
  url(/assets/fonts/webfonts/JetBrainsMono-BoldItalic.woff2) format(‘woff’);
  }

:root {
  --color-negro: #131416;
  --color-amarrillo: #F8CB5B;
  --color-rosa: #EF3A7F;
  --color-gris: #302f2f;
  --color-gris-2: #939393;
  --color-blanco: #F2F2F2;
  --color-morado: #AC72FF;
  --color-azul: #4ED7F5;
  --color-degradado: linear-gradient(to right, #FFD600,#F2008D);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-negro);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 20px;
}

header figure {
  width: 60px;
  height: auto;
}
header figure img {
  width: 100%;
  height: 100%;
}

.tag {
  color: var(--color-gris);
  position: absolute;
  bottom: 0;
  left: 4rem;
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
}

.top-tag {
  bottom: auto;
  top: 10rem;
}
.top-tag:after {
  content: '<body>';
  position: absolute;
  margin-left: 2rem;
}
.bottom-tag:after {
  content: '</html>';
  position: absolute;
  margin-left: 2rem;
}

main {
  width: 100%;
  height: 100%;
  padding: 10rem;
}

.nombre h1 {
  margin: 0;
  font-weight: 400;
  font-size: 10.3rem;
  line-height: 9.7rem;
  position: relative;
  color: var(--color-blanco);
}
.nombre h1:before {
  content: '<h1>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  position: absolute;
  margin-top: -5rem;
  left: -1.5rem;
}

.nombre h1:after {
  content: '</h1>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  margin-top: 5.8rem;
  left: -1.5rem;
}
.nombre h1:after {
  margin-top: -4rem;
}

h1 span:hover{
  background: var(--color-degradado);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main .nombre p {
  margin-top: 60px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  font-style: italic;
  color: var(--color-gris-2);
}

main .pb::before{
  content: '<p>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: none;
  position: absolute;
  margin-top: -2.5rem;
  left: -1.5rem;
}
main .pa::after {
  content: '</p>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: none;
  position: absolute;
  margin-top: 0.5rem;
  left: -1.5rem;
}

main .btn-contactame {
  margin-top: 8rem;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 10em;
  background: var(--color-degradado);
  color: var(--color-negro);
}

main .btn-contactame:hover {
  background: linear-gradient(to right, #fceda1,#f8b5dc);
}

main .btn-contactame::before{
  content: '<button>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: none;
  position: absolute;
  margin-top: -4rem;
  left: 8rem;
}
main .btn-contactame::after {
  content: '</button>';
  color: var(--color-gris);
  font-style: italic;
  font-family: 'Caveat', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-shadow: none;
  position: absolute;
  margin-top: 3rem;
  left: 4em;
}
